{{#section 'firstCurrencySection'}}
<hr />
<div class="currency">
  <p>Currency: {{currency.name}}, Course: {{currency.course}}</p>
</div>
{{/section}}

{{#section 'secondCurrencySection'}}
<p>{{partials.currencyContent.text}}</p>
{{/section}}
